<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385800409693-55vp1eh87m1ovlvmmhnt00aktnadtcjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385800409693-55vp1eh87m1ovlvmmhnt00aktnadtcjp</string>
	<key>API_KEY</key>
	<string>AIzaSyC112vXVKIFVVj1zPji8666sO1Ufl5j9nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>385800409693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bleStreetLights</string>
	<key>PROJECT_ID</key>
	<string>ble-street-lights-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ble-street-lights-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385800409693:ios:48e0e51584a1376570f3b4</string>
</dict>
</plist>